<%- include('layout/header') %>


<center>
<div class="row my-5">
    <div class = 'container'>
        <a href = "/allAdminGD"><button type="button" class="btn btn-primary">ADMIN - VIEW ALL GARDEN DESIGNERS</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/addAdminGD"><button type="button" class="btn btn-primary">ADMIN - ADD GARDEN DESIGNERS</button></a>
    </div>
</div>

<div class="row my-5">
    <div class = 'container'>
        <a href = "/All_Architect"><button type="button" class="btn btn-danger">ADMIN - VIEW ALL ARCHITECT</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "/add_Architect" ><button type="button" class="btn btn-danger">ADMIN - ADD ARCHITECT</button></a>
    </div>
</div>

<div class="row my-5">
    <div class = 'container'>
        <a href = "#"><button type="button" class="btn btn-secondary">ADMIN - VIEW ALL INTEROR</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "#"><button type="button" class="btn btn-secondary">ADMIN - ADD INTERIOR</button></a>
    </div>
</div>


</center>
<%- include('layout/footer') %>